* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  background: rgb(32, 32, 32);
  background: linear-gradient(
      172deg,
      rgba(32, 32, 32, 0.8869922969187675) 41%,
      rgba(172, 152, 79, 0.43881302521008403) 76%,
      rgba(255, 223, 108, 0.458420868347339) 94%
    ),
    url("./acasa.jpg");

  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  margin: auto;
}
